<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Product List</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="color:white;"></span> Cart(0)</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
  <div class="col-lg-3">
      
          <h1 class="my-4">Simple</h1>
                <div class="list-group">
                  <a href="#" class="list-group-item">Home</a>
                  <a href="#" class="list-group-item">Accessories</a>
                  <a href="#" class="list-group-item">Denim</a>
                  <a href="#" class="list-group-item">Footwear</a>
                  <a href="#" class="list-group-item">Jeans</a>
                  <a href="#" class="list-group-item">Outerwear</a>
                  <a href="#" class="list-group-item">Pants</a>
                  <a href="#" class="list-group-item">Shirts</a>
                  <a href="#" class="list-group-item">T-Shirts</a>
                  <a href="#" class="list-group-item">Shorts</a>
                </div>
      
  </div>
  
  
  <div class="row">
      
                  
      
                  <div class="col-lg-2 col-md-4 mb-2">
                      <div class="card h-100">
                          <h4>Home - {{ (detail != null) ? detail.Nama : '' }}</h4>
                        <a href="#"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">{{ (detail != null) ? detail.Nama : '' }}</a>
                        </h4>
                        <h5>IDR {{ (detail != null) ? detail.Harga : '' }}</h5>
                        <p class="card-text">Description: {{ (detail != null) ? detail.Kategori : '' }}</p>
                        <button (click)="AddToCart()">Add to Cart</button>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>

  </div>